DerivedData
.DS_Store
MetalVertexStreaming.xcodeproj/project.xcworkspace/xcuserdata/ingun.xcuserdatad/UserInterfaceState.xcuserstate
MetalVertexStreaming.xcodeproj/xcuserdata/ingun.xcuserdatad/xcdebugger
