<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MetalVertexStreaming.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>fbxconverter.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sujakmobile.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1606DB291BF9AA0500976579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>626C5FA3193298C6007A3E00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B41FCB61D335CD800A3329B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B41FCCE1D34F2A000A3329B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BA9BAE51D38A930003F35B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
